<!-- Generated template for the MovieInfoComponent component -->
<div id="principal">
  <header>
    <h1 id=tituloP>{{movieName}}</h1>
    <h3 id=tituloSub><i>Que es Real? </i> <b>  Morpheo</b></h3>
  </header>
  <div>
    <div>
      <br>
      <br>

      <img src="../../assets/imgs/matrix.jpg" width=250px class='imgRedonda'>
    </div>
    <br>
    <br>
    <div id="caja"> Un experto en computadoras descubre que su mundo 
                   es una simulación computarizada creada por malvada 
                   ciberinteligencia.  
    </div>
  </div>
  <br>
  <br>
  
</div>
